.form-container {
  margin: 5px;
  padding: 8px;
  border-bottom: 1px solid #4e4c4c;
  display: flex;
  flex-wrap: wrap;
  min-height: 120px;
  gap: 8px;
  align-items: center;
  justify-content: space-evenly;
  font-family: Courier, monospace;
}

.form-input_text {
  flex-basis: 40%;
  flex-grow: 0.75;
  max-width: 360px;
  min-width: 200px;
  border: none;
  border-bottom: 1px solid #4e4c4c;
  outline: none;
  width: 80%;
  font-family: inherit;
  height: 25px;
  margin: 5px;
}

.form-input_text:focus {
  border-color: #66459e;
}

.form-input_btn {
  margin: 5px;
  border: none;
  padding: 8px 18px;
  cursor: pointer;
  background-color: blueviolet;
  color: #fff;
  font-family: inherit;
  font-weight: bold;
  border-radius: 8px;
}

.form-details {
  flex-basis: 100%;
  text-align: center;
  color: rgb(60, 170, 20);
  font-size: 15px;
  min-height: 30px;
  font-weight: bold;
}

.form-input_container {
    text-align: center;
    margin-top: 15px;
}

.btn-off{
  background-color: #99cdfd !important;
  cursor: no-drop !important
}

.del{
  color: rgb(219, 20, 20) !important;
  
}

.opacity-obj{
  opacity: 0;
  transition: opacity 1s 1s ease;
}